#lil-peep{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/lil-peep.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#juice-wrld{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/Imagenes-proyecto/juice-wrld.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#joji{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/joji.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
#dababy{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/dababy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#suicide-boys{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/suicide-boys.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#lil-mosey{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/lil-mosey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#xxx-tentacion{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/xxx-tentacion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#savage{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/21-savage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#jesse-boone{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/jesse-boone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#bbno{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/Bbno.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#kayo-man{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/kayo-man.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#trippie-red{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/trippie-redd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#mac-miller{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/mac-miller.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#nle-choppa{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/nle-choppa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#ice-cube{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/ice-cube.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#pac-shakur{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/2pac.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#imagine-dragons{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/imagine-dragons.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#nirvana{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/nirvana.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#SNOT{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/SNOT.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#city-morgue{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/city-morgue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#hippie-sabotage{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/hippie-sabotage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#ice-cube{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/ice-cube.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#ice-cube{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/ice-cube.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#ice-cube{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/ice-cube.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#ice-cube{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url('/imagenes-proyecto/ice-cube.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}





